
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #1b1b1b;
    color: #e5e5e5;
}
.header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #1b1b1b, #2a2a2a);
}

.header h1 {
    font-size: 60px;
    letter-spacing: 4px;
}

.header span {
    color: #f5c400;
}

.header p {
    margin: 20px 0;
    color: #bdbdbd;
}

.btn {
    padding: 12px 30px;
    background: #f5c400;
    color: #1b1b1b;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
}
.hero {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.hero img {
    width: 90%;
    border-radius: 20px;
}
.section {
    padding: 70px 20px;
    text-align: center;
}

.section h2 {
    color: #f5c400;
    margin-bottom: 20px;
    font-size: 36px;
}

.section-text {
    max-width: 700px;
    margin: auto;
    color: #cfcfcf;
}

.dark {
    background: #222;
}
.features {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 50px;
}

.card {
    background: #2a2a2a;
    padding: 25px;
    width: 260px;
    border-radius: 15px;
    border: 1px solid #f5c40044;
}

.card h3 {
    color: #f5c400;
    margin-bottom: 10px;
}

/* GALLERY */
.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery img {
    width: 280px;
    border-radius: 15px;
}
.specs {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.spec {
    background: #2a2a2a;
    padding: 20px 30px;
    border-radius: 15px;
}

.spec span {
    display: block;
    color: #aaa;
}

.spec strong {
    color: #f5c400;
    font-size: 22px;
}
.form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input,
.form textarea {
    padding: 12px;
    background: #2a2a2a;
    border: none;
    color: white;
    border-radius: 8px;
}

.form button {
    padding: 12px;
    background: #f5c400;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #777;
}

